@import url("https://fonts.googleapis.com/css?family=Muli:900,600|Lato");

body {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}
