@import url("https://fonts.googleapis.com/css?family=Muli:900,600|Lato");

body {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
}

body:before {
  background: url(https://imgur.com/WARWpHL.png) repeat;
  /* background: url(https://imgur.com/K6UYS18.png) repeat; */
  /* background: url(https://imgur.com/yKWsLky.png) repeat; */
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

p {
  white-space: pre-line;
}
