.signup-wrapper {
  background-color: lightseagreen;
}

#mc_embed_signup {
  color: white;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

#mc-embedded-subscribe {
  background-color: darkgray;
}
